ul {
    margin: 10px;
}

li {
    margin-bottom: 5px;
}

span + span{
    margin-left: 8px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 10px;
}

th {
    padding: 5px;
}